:root {
    --grey1: #ccc; 
    --grey3: #e9ecef; 
    --text-grey: #6c757d; 
    --black: #343a40; 
    --white: #ffffff; 
    --primary-color: rgb(72, 223, 12); 
}

.nav {
    width: 100%;
    border-bottom: 1px solid var(--grey1);
}

.nav-container {
    width: 95%;
    margin: auto;
    padding: 1rem 0;
}

.nav-disp-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.8rem; 
    width: fit-content;
    border: 1px solid var(--grey1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.4rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease; 
}

.nav-disp-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.nav-disp-icon {
    display: flex;
    align-items: center;
}

.nav-disp-filter {
    margin-right: 0.6rem;
}

.nav-disp-filter > img {
    height: 14px; 
    fill: var(--grey1);
}

.nav-disp-heading {
    font-weight: 500; 
    font-size: 1rem; 
    color: var(--black); 
}

.nav-disp-drop {
    margin-left: 0.3rem; 
}

.nav-disp-drop > img {
    height: 16px; 
}

.nav-disp-dropdown {
    display: none;
    width: fit-content;
    position: absolute;
    z-index: 2;
    margin-top: 0.6rem;
    padding: 0.8rem 1rem;
    background-color: var(--grey3);
    border: 1px solid var(--grey1);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-disp-dropdown-show {
    display: block;
}

.nav-disp-filters {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-disp-filters:first-child {
    margin-bottom: 0.5rem;
}

.nav-dropdown-category {
    color: var(--text-grey);
    font-weight: 500; 
}

.nav-selector {
    padding: 0.3rem; 
    width: 100px; 
    border-radius: 0.3rem;
    border: 1px solid var(--grey1); 
    font-weight: 500; 
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.nav-selector:hover {
    background-color: var(--grey3); 
}
